{% extends 'base.html'%}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div>
    <div class="sample-list__header">
        <h2>Sample books</h2>
    </div>
    <div class="home-container">
        <div class="card-container">
            <img src="https://images.unsplash.com/photo-1477207579688-d596fec7480d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=360&q=80"
                alt="Book cover">
            <div class="card-details">
                <h3>Book one</h3>
                <p>Genre</p>
            </div>
        </div>
        <div class="card-container">
            <img src="https://images.unsplash.com/photo-1661956602153-23384936a1d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=360&q=80"
                alt="Book cover">
            <div class="card-details">
                <h3>Book one</h3>
                <p>Genre</p>
            </div>
        </div>
        <div class="card-container">
            <img src="https://images.unsplash.com/photo-1663908778255-bd560e30d55e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                alt="Book cover">
            <div class="card-details">
                <h3>Book one</h3>
                <p>Genre</p>
            </div>
        </div>
        <div class="card-container">
            <img src="https://images.unsplash.com/photo-1663875972135-bb6654ed702d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
                alt="Book cover">
            <div class="card-details">
                <h3>Book one</h3>
                <p>Genre</p>
            </div>
        </div>
    </div>

    <div class="custom-book__container">

        <div class="custom-book__header">
            <h2>Add your own book below</h2>
        </div>
    </div>
</div>
{% endblock %}